<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layoutl :: head"></head>
<body>
<header th:replace="layout/layoutl :: header"></header>

<div class="card" style="margin-top: 2%;height: 994px;background-color: #009bd9;">
  
  
  
</div>
	<footer th:replace="layout/layout :: footer"></footer>
  <script th:src="@{assets/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{assets/vendor/jquery.easing/jquery.easing.min.js}"></script>
  <script th:src="@{assets/vendor/php-email-form/validate.js}"></script>
  <script th:src="@{assets/vendor/owl.carousel/owl.carousel.min.js}"></script>
  <script th:src="@{assets/vendor/waypoints/jquery.waypoints.min.js}"></script>
  <script th:src="@{assets/vendor/counterup/counterup.min.js}"></script>
  <script th:src="@{assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
  <script th:src="@{assets/vendor/venobox/venobox.min.js}"></script>
  <script th:src="@{assets/vendor/aos/aos.js}"></script>
</body>
</html>
